<br>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table style="width:100%">
  <tr>
    <th>Judul</th>
    <th>Isi</th>
    <th>Tanggal</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>
<div *ngFor="let arrjudul of judul">
   {{arrjudul}}
</div>
</td>
<td>
<div *ngFor="let arrisi of isi">
   {{arrisi}}
</div>
</td>
<td>
<div *ngFor="let arrtanggal of tanggal">
   {{arrtanggal}}
</div>
</td>
<td>
<div *ngFor="let arrjudul of tanggal;let arrisi of isi; let arrtanggal of tanggal">
   <button (click)="Fav(arrjudul,arrisi,arrtanggal)">Favourite It!</button>
</div>
</td>
</tr>

</table>